<p>
  <strong>Original:</strong>
  <%= @url.original %>
</p>

<p>
  <strong>Shortened:</strong>
  <%= polymorphic_url :short %>
  <a href="<%= polymorphic_url :short %>">go</a>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @url.clicks %>
</p>
